
h1,
.subtitle,
.price{
  font-weight: bold;
  font-family: Helvetica;
}

h1{
  font-size: 100px;
  color:khaki;
  text-align: center;
}

.title{
  background-image:url(../pic/pattern.jpeg);
}


.subtitle{
  font-size: 32px;
  color: white;
}

#first{
  background-color: mediumspringgreen;
}

#second{
  background-color: lightcoral;
}

#third{
  background-color: skyblue;
}

.price{
  color: blue;
}
